[submodule "Softbery.Logger"]
	path = Softbery.Logger
	url = https://github.com/softbery-org/Softbery.Logger
[submodule "Softbery.Update"]
	path = Softbery.Update
	url = https://github.com/softbery-org/Softbery.Update
[submodule "Softbery.Archive"]
	path = Softbery.Archive
	url = https://github.com/softbery-org/Softbery.Archive
[submodule "Softbery.Text"]
	path = Softbery.Text
	url = https://github.com/softbery-org/Softbery.Text
[submodule "Softbery.Core"]
	path = Softbery.Core
	url = https://github.com/softbery-org/Softbery.Core
